{
	algo en concreto id, para algo en generel class
		id se ponen con #, class se pone .
	font-size: 50px;Tamaño de letra
	font-weight:Indica el peso de una fuente
		bold - negrita
		normal - normal;
	font-variant:especifica si un texto debe mostrarse o no en minúsculas
		normal - normal
		small-caps - letras en minuscula (en verdad las letras estan en mayuscula pero son mas pequeñas)
	color: white;
	font-style:Formato de letra
		normal - texto normal
		italic - texto en cursiva
		oblique - el texto esta inclinado, es lo mismo que la cursiva;
	text-align: center, justify;
	size:40;Tamaño, longitud
	width: 10;Anchura
	height:10;altura
	background: lightblue;azul clarito o ligeroç
	background-image: url(imagen);
	padding: 10px;genera espacio alrededor de un elemento, como un marco, reloj
		top - arriba
		right - derecha
		bottom - abajo
		left - izquierda
	font-family:;Es el tipo de letra
		serif - los caracteres tienen lineas en los extremos, por defecto
		sans - sin
		monospace - el espacio entre los caracteres tienen la misma anchura
		para escribir un tipo de letra en concreto se pone entre ''
	clear:Impide que elementos flotantes esten en la derecha o izquierda
		left - izquierda
		right- derecha
		both - No permite ni a la derecha ni a la izquierda
		none - Permite en ambos lador
		inherit - Hereda el vaor de su padre
	margin:0.5em;Establece margen, crea un espacio alrededor de los elementos fuera de cualquier borde, reloj
		top - arriba
		right - derecha
		bottom - abajo
		left - izquierda
		auto - el navegador calcula el margen
	list-style-type:Indica el marcador de elemento de una lista, los circulitos vamos
		circle - circulitos huecos
		square - cuadraditos
		upper-roman - numeros romanos
		lower-alpha - orden alfabetico
		none - sin nada;
	float:Indica como debe flotar un elemento, es decir, indica su posicionamiento
		left - El elemento flota a la izquierda
		right- El elemento flota a la derecha
		none - el elemento no flota, se mostrara justo donde aparece el texto, es por defecto
		inherit - El elemento hereda el valor flotante de su padre
	border: 5px;especificar el estilo, el ancho y el color del borde de un elemento
		dotted - Define un borde punteado.
		dashed - Define un borde discontinuo.
		solid - Define un borde sólido.
		double - Define un doble borde.
		tambien se puede usar los parametros arriba, abajo, izquierda, derecha
	display:Indica como se muestra un elemento, cada elemento html se visualiza de una manera
		block - Estos elementos comienzan en una nueva línea y ocupa todo el ancho disponible
		inline - Estos elementos no comienzan en una nueva línea y solo ocupan el ancho que sea necesario
	letter-spacing: 5px;Establece el espaciado de letras para los elementos <h1>, <h2> y <h3>, se puede amuentar y disminuir
	cursor:especifica como se vera el cursor del raton cuando pase sobre un elemento
		pointer - es la manita
	hsl(175, 40%, 50%)Establecer el color, el primer valor es el color, el segundo la saturacion (0% es gris y 100% el color) y el tercero la luminosidad (0% es negro y 100% es blanco)
	overflow: indica que se hace cuando el contenido es mas grande que la caja que ocupa
		visible	el contenido sigue fuera de la caja	
		hidden	el contenido se corta y el resto sera invisible	
		scroll	el contenido se recorta pero el resto emnpieza en una nueva linea	
		auto si se recorta se empieza en una nueva linea. Lo mismo que el scroll;
	position: especifica el metodo de posicionamiento de un elemento
		absolute se posiciona en el orden del anterior elemento
		static los elemtos se colocan en orden como estan en el documento
		fixed El elemento se posiciona en relación a la ventana del navegador
		relative se posiciona de forma normal, podemos utilizar left:20px; esto va debajo
	z-index: 2; pone las cosas por delante de otras

}
{
	:hover al pasar el mouse sobre los elementos los selecciona
	:visited establece la pariencia de los enlaces visitados
	:link establece el aspecto de los enlaces


}
