
/*CSS del HTML Formulario*/

#acceso{
	margin: auto;
	width:600px;
}
#acceso input{
	background-color: #24495B;
	color: white;
	padding: 1%;
	margin: 2%;
	width: 40%;
	border: solid;
}
#acceso textarea{
	width:90%;
	height:100px;
	background-color: #24495B;
	color: white;
	border: solid;
	margin: 2%;
}
#acceder{
	cursor: pointer;
}
#acceso img{
	display:block;
	margin:auto;
	margin-top: 10%;
	margin-bottom: 1%;
}
#parrafo{
	text-align: center;
	color: white;
	font-style: oblique;
	font-family: serif;
}
#cuerpo{
	background-color: #24495B;
}
#titulo{
	text-align: center;
	color: white;
	font-style: oblique;
	font-family: serif;
	font-size: 40px;
}

/*CSS del HTML Moodle*/

#mform{
	margin-left: 1%;
}
#fpb{
	margin-left: 4%;
}
#sub{
	padding: 10px;
	width: 8%;
	border: double;
	display: block;
	margin: 2%;
}
#condiciones{
	display: inline;
	margin-left: 2%;
	margin-bottom: 1%;
}
select {
	margin: 1%;
	width: 10%;
	border: dotted;
}
h1{
	font-size: 30px;
	color: #00711E;
}
h3{
	margin-left: 2%;
	color: #25373E;
}
label{
	margin-left: 3%;
}