button{
	cursor:pointer; 
	cursor: hand;
}
div{
	background-color: #00BDF1;
	border-radius: 8%;
}

body{
	background-color: #01D3F6;
}
h1{
	color: #FE9951;
	display: inline;
	padding-right: 1%;
	cursor:pointer; 
	cursor: hand;
}
#encabezado{
	background-color: #00BDF1;
	text-align: center;
	padding: 1%;
	border-radius: 0%;
}
#recreativa{
	margin: 5%;
	margin-right: 75%;
	margin-top: 7%;
	padding-bottom: 1%;
	padding-top: 5px;
}
#recreativa{
	text-align: center;
}
#acerca_de{
	text-align: center;
	padding: 2%;
	padding-top: 5px;
	position: absolute;
	top: 25%;
	right: 43%;
}
#normas{
	padding: 2%;
	padding-top: 5px;
	position: absolute;
	top: 25%;
	left: 70%;
}
.titulos{
	color: #F77168;
}
.ocultos{
	display: none;
}
#encabezado img{
		width: 4%;
}
#recreativa p{
	background-color: #3EE1D0;
	margin: 5%;
}
#recreativa img{
	width: 15%;
	padding: 8%;
}
#recreativa button{
	margin: 3%;
}

#recreativa h3{
	color: #FAC720;
}